<h2>Wide Grid 1140px</h2>

<p>Add class <code>grid-1140</code> to the parent of your containers i.e. to the <code>body</code>.</p>

<div class="grid-1140">
    <div class="skycom-container" id="grid12-actual">
        <div class="alpha skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="skycom-1">
            <div class="cushioned">
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>