<div class="skycom-container">
    <h2>Grid <small class="secondary">1140px</small></h2>

    <p>The default grid size is 1140px. You can limit this to 974px by adding the class <code>grid-974</code> to the <code>html</code> tag.</p>

</div>

<div class="skycom-container" id="grid12-actual">
    <div class="alpha skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
</div>