<h2>974</h2>

<p>Use this grid if your website is not ready to move onto the new 1140px width, that is if most sites in your vertical are not using the this 'toolkit' version of the grid.</p>

<div class="example skycom-container clearfix" id="grid12">
    <div class="alpha skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
</div>