<div class="skycom-container">
    <h2>lightbox Grid</h2>
    <p>
        The '<code>skycom-offset1</code>' class is used to centre the lightbox. We then use another '<code>skycom-container</code>' to create a new 12 column grid.

    </p>
</div>

<div class="example skycom-container clearfix" id="grid12-lightbox">
    <div class="skycom-10 skycom-offset1 ">
        <div class="example skycom-container clearfix" id="grid12-contents">
            <div class="alpha skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>