<div class="skycom-container">
    <h2>Example <small class="secondary">Portrait Tablet</small></h2>
    <p>This is how it would look on a iPad.</p>
</div>

<div class="example skycom-container clearfix" id="grid12-tablet">
    <div class="alpha skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="skycom-1">
        <div class="cushioned">
            <div>&nbsp;</div>
        </div>
    </div>
</div>